<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}

    <title> {{ title}}</title>

    {% else %}

    <title> Welcome to the best Movie Review website </title>

    {% endif %}

</head>

<body>

    {% extends 'base.html' %}

    {% import 'macros.html' as macro %}

    <!-- Content Block-->
    {% block content%}
    <h3> Top News Headline </h3>

    <ul>
        {{ macro.dispalyNewsList(top) }}
    </ul>

    {% endblock %}


</body>

</html>